.btn-menu{
    background-color: #00aeff;
    border: none;
    margin-top: 10px;
}
.btn-menu:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.btn_log{
	border: 1px solid #00aeff;
	border-radius: 25px;
	height: 24px;
	width: 120px;
	color: white;
	background-color: #00aeff;
	font-family: 'Rubik';
	margin: 5px;
}

.btn_log:hover{
	transition: 0.5s;
	transform: scale(1.1);
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
}