body{
    font-family:'Rubik', sans-serif;
}

#comp_name{
    color: white;
}
.btn-menu{
    font-family: Rubik;
    color:white;
}

#container h2{
    margin-top: 0px;
    font-weight: normal;
}

h3, h1, h4, h2{
	margin-top: 0px;
	font-weight: normal;
}